

include aiida_fleur/fleur_schema/input/*/*.xsd
include aiida_fleur/tests/run*
recursive-include aiida_fleur/tests/files/ *
include setup.json
include setup_requirements.txt
include AUTHORS.txt
include CHANGELOG.md
include LICENSE.txt
recursive-include docs *
