
include aiida_fleur/tools/exp_bindingenergies.json
include aiida_fleur/fleur_schema/input/*/*.xsd
include setup.json
include setup_requirements.txt
include AUTHORS.txt
include CHANGELOG.md
include LICENSE
include README.md
recursive-include docs *
