# for support of the xml files and parsers
lxml >= 3.6.4
aiida_core>=1.0.1

# for utilities
ase
pymatgen
sympy
pytest-cov >= 2.5.0
pgtest
masci-tools
#git+https://github.com/JuDFTteam/masci-tools.git@develop#egg=masci-tools
# "git+https://github.com/JuDFTteam/masci-tools.git@develop#egg=masci-tools"
#masci-tools
# for plotting
# ngtviewer
# plot_methods
#
