&profile name="fast" kmax=4.5 rmtFactor=0.92 lmaxFactor=1.0 addLOSetup="addHDLOs_noSC" fermiSmearing=0.001 atomSetup="oxides_validation" /
&profile name="moderate" kmax=5.0 rmtFactor=0.92 lmaxFactor=1.0 addLOSetup="addHDLOs_noSC" fermiSmearing=0.001 atomSetup="oxides_validation" /
&profile name="precise" kmax=5.5 rmtFactor=0.92 lmaxFactor=1.0 addLOSetup="addHDLOs_noSC" fermiSmearing=0.0001 atomSetup="oxides_validation" /
&profile name="oxides_validation" kmax=5.0 rmtFactor=0.92 lmaxFactor=1.0 addLOSetup="addHDLOs_noSC" fermiSmearing=0.00225 atomSetup="oxides_validation" /
